@use "../utils/mixin" as m;

.header {
    padding: 16px 0;
    border-bottom: 1px solid var(--stroke);

    &__btns {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }
}