.preloader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.15);
    z-index: 1;

    &__icon {
        max-width: 250px;
        width: 100%;
        aspect-ratio: 1;
    }

    &__circle {
        animation: preloader 2s infinite linear;
        transform-origin: center;
    }
}

@keyframes preloader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}