<div class="form-auth main__form-wrap-form">
    <h1 class="title">Sign up</h1>
    <p class="hint">Sign up for free to access to in any of our products </p>
    <form class="form main__form form-auth__form form-js" data-form="sign-up">
        <div class="form__wrapper">
            <div class="form__item">
                <label
                    class="form__label"
                    for="sign-up-email"
                >Email address</label>
                <input
                    class="form__input email-input"
                    type="email"
                    id="sign-up-email" 
                    required
                >
            </div>
            <div class="form__item form__password">
                <div class="form__password-top">
                    <label
                        class="form__label"
                        for="sign-ip-password"
                    >Password</label>
                    <button
                        type="button"
                        class="form__password-toggle"
                    >
                        <span class="form__password-toggle-text">Show</span>
                    </button>
                </div>
                <input
                    class="form__input form__password-input password-input"
                    type="password"
                    id="sign-ip-password"
                    required
                >
                <span class="form__hint">Use 6 or more characters</span>
            </div>
        </div>
        <div class="form__checkboxes">
            <div class="form__checkbox">
                <input
                    class="visually-hidden form__checkbox-input"
                    type="checkbox"
                    name="agree"
                    id="agree"
                    checked
                >
                <label
                    class="form__checkbox-label"
                    for="agree"
                >Agree to our <a
                        href=""
                        class="link-underline"
                    >Terms of use</a> and <a
                        href=""
                        class="link-underline"
                    >Privacy
                        Policy</a></label>
            </div>
            <div class="form__checkbox">
                <input
                    class="visually-hidden form__checkbox-input"
                    type="checkbox"
                    name="subscribe"
                    id="subscribe"
                    checked
                >
                <label
                    class="form__checkbox-label"
                    for="subscribe"
                >Subscribe to our monthly newsletter</label>
            </div>
        </div>
        <button type="button" class="btn-social btn-social--google sign-up-google">
            <span>Continue with Google</span>
        </button>
        <div class="form__actions">
            <button
                class="btn-submit"
                type="submit"
            >Sign up</button>
            <p class="form__message">Already have an ccount? <a
                    href=""
                    class="link-underline form__message-link"
                    data-tab="login"
                >Log in</a></p>
        </div>
    </form>
</div>