<div class="form-login tab-wrap" id="login">
    <h1 class="title">Log in</h1>
    <p class="hint">New to Design Space? <a href="" class="link-underline" data-tab="sign-up">Sign up for free</a></p>
    <form class="form main__form form-login__form form-js" data-form="login">
        <div class="form__wrapper">
            <div class="form__item">
                <label
                    class="form__label"
                    for="login-email"
                >Email address</label>
                <input
                    class="form__input email-input"
                    type="email"
                    id="login-email" 
                    required
                >
            </div>
            <div class="form__item form__password">
                <div class="form__password-top">
                    <label
                        class="form__label"
                        for="login-password"
                    >Password</label>
                    <button
                        type="button"
                        class="form__password-toggle"
                    >
                        <span class="form__password-toggle-text">Show</span>
                    </button>
                </div>
                <input
                    class="form__input form__password-input password-input"
                    type="password"
                    id="login-password"
                    required
                >
            </div>
        </div>
        <div class="form__actions">
            <button
                class="btn-submit"
                type="submit"
            >Log in</button>
        </div>
    </form>
</div>