@use "../utils/mixin" as m;

.main {
    --main-height: calc(100vh - var(--header-height));

    display: flex;
    min-height: calc(100vh - var(--header-height));
    height: fit-content;

    &__img {
        width: 54%;
    }

    &__img-img {
        object-position: center 40%;
    }

    &__form-wrapper {
        position: relative;
        width: 46%;
        height: 100%;
    }

    &__form {
        margin-top: 40px;
    }

    &__form-wrap-form {
        position: sticky;
        top: 0;
        padding: 103px 93px;
    }
}