@use "mixin" as m;

:root {
    --btn-color: #111111;
    --btn-bg: transparent;
    --btn-active-bg:#111111;
    --btn-active-color:  #FFFFFF;
    --btn-stroke: #111111;

    --btn-submit-bg: #111111;
    --btn-submit-color: #FFFFFF;

    --text-primary: #333333;
    --text-secondary: #666666;
    --text-accent:#111111; 
    --hint:rgba(102, 102, 102, 0.80);

    --br-s: 8px;
    --br-m: 12px;
    --br-l: 32px;

    --stroke: rgba(102, 102, 102, 0.25);
    --stroke-input: rgba(102, 102, 102, 0.35);

    --header-height: 76px;

    --icon: #666666CC;
    --icon-dark: #111111;
}

@include m.tablet-s {
  
}