@use "mixin" as m;

:root {
    --btn-color: #111111;
    --btn-bg: transparent;
    --btn-active-bg:#111111;
    --btn-active-color:  #FFFFFF;
    --btn-stroke: #111111;

    --btn-submit-bg: #111111;
    --btn-submit-color: #FFFFFF;
    --btn-submit-bg-hover: #FFFFFF;
    --btn-submit-color-hover: #111111;

    --btn-social-bg: #FFFFFF;
    --btn-social-color: #333333;
    --btn-social-bg-hover: #333333;
    --btn-social-color-hover: #FFFFFF;

    --link-hover: #666666;

    --text-primary: #333333;
    --text-secondary: #666666;
    --text-accent:#111111; 
    --hint:rgba(102, 102, 102, 0.80);
    --hint-hover:rgba(102, 102, 102, 1);
    --error: #EE1D52;

    --br-s: 8px;
    --br-m: 12px;
    --br-l: 32px;
    --br-xl: 40px;

    --stroke: rgba(102, 102, 102, 0.25);
    --stroke-input: rgba(102, 102, 102, 0.35);
    --btn-stroke: #333333;

    --header-height: 76px;

    --icon: #666666CC;
    --icon-dark: #111111;
}

@include m.tablet-s {
  
}